@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alice&display=swap');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.primary-bg {
    background-color: #26830f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.accent-bg {
    background-color: #58b341;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Alex Brush', Arial, sans-serif;
}

p {
    font-family: 'Alice', Helvetica, Arial, sans-serif;
}

.heading-font{
    font-family: 'Alex Brush', cursive;
    font-size: 25px;
    color: #26830f;
}

.body-font {
    font-family: 'Alice', serif;
    font-size: 25px;
    color: #26830f;
}

.primary-color {
    background-color: #26830f;
    color: #fff;
    padding: 3px;
}

.accent-color {
    background-color: #58b341;
    color: #fff;
    padding: 3px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item:last-child {
    grid-column: 2; 
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item:last-child {
        grid-column: 1; 
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item:last-child {
        grid-column: 1; 
    }
}