@media screen and (max-width: 1400px) {
    .hero-card {
        width: 80%;
    }

    .current-events,
    .weather-card {
        width: 90%; 
    }

    .company-spotlights {
        justify-content: space-around;
    }

}
