@media screen and (max-width: 480px) {
    .header-buttons {
        display: none;
    }

    h1 {
        margin-right: auto;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #hamburger {
        display: block;
        padding-left: 10%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .show-menu {
        display: flex;
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    .hero, .events-weather {
        width: 100%;
        margin: 0 auto;
    }

    .hero-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-card img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero-content p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

}