@media screen and (max-width: 480px) {
    #hamburger {
        display: block;
        float: right; 
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav ul.show-menu {
        display: block;
        text-align: center;
    }

    nav ul.show-menu li {
        display: block;
        margin-bottom: 10px;
    }

    table th, table td {
        padding: 4px;
        font-size: 0.8em; 
    }
}