@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    header img {
        margin-right: 10px;
        padding-top: 5px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    main {
        width: 100%;
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    footer {
        width: 100%;
        margin: 0 auto;
    }
}